<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/style.css" />
	<title>M Y G</title>
	<script src="/socket.io/socket.io.js"></script><script type="text/javascript">var socket = io();</script>
</head>
<body>
	<div id="titleBlock">
		M Y G
		<div id="subTitleBlock"> 
			Mystery Yakemono Game
		</div>
	</div>
	<script src="/js/three.min.js"></script>
	<!--<canvas id="mycanvas" width="800" height="450"></canvas>-->
	<script src="/js/mygmain.js"></script>
	<div id="footerBlock">
		Baptiste Maréchaux
	</div>
</body>
</html>